html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.disabled-onepage-scroll {
  overflow-x: hidden;
}
#navbar {
  .btn-success {
    border-radius: 0;
  } 
  .buy-btn {
    width: auto;
  }
}

.navbar-brand {
  
}
.navbar-toggle {
  border: 0px;
  margin-top: 16px;
}
.navbar-collapse {
  border: 0px;
}
.btn {
  padding: 8px 40px; 
  width: 240px;
}
.btn-success {
  background-color: #00a550;
  &:visited {
    background-color: #00a550;
  }

}

#weather {
  .button {
    padding-top: 117%;
  }
}
#utility_solutions {
  min-height: 300px;
  padding-top: 28%;
  background-position: -276px -170px;
  background-size: 1250px;
}

#footer {
  padding-top: 0px;
}
p.heading {
  font-size: 30px;
}
.onepage-wrapper .section {
  height: auto;
}

#wiser_choice_graphic {
  padding-top: 120px;
}


